.auth-body {
  margin-top: 20px;
  width: 500px;
}
.auth-logo {
  text-align: center;
}
.auth-logo img {
  max-width: 100px;
}
.login-banner {
  text-align: center;
  margin: 30px 0;
}
.login-banner span {
  font-size: 18px;
  margin: 0 20px;
}
.login-banner span img {
  max-width: 80px;
}
.logo-wrap {
  margin-top: 20px;
  width: 80px;
  display: inline-block;
  text-align: center;
}
.logo-title {
  font-size: 15px;
  font-weight: bold;
  color: #444;
}
.site-logo {
  width: 72px;
  vertical-align: middle;
}
.relation-icon {
  margin: 20px;
  font-size: 40px;
}
.login-form {
  margin-top: 20px;
}
.login-form .tlf-account {
  width: 360px;
  margin: auto;
}
.tlf-account .in-lable {
  line-height: 34px;
  margin-bottom: 10px;
}
.tlf-account .in-area {
  float: right;
  width: 80%;
}
.tlf-account .in-control {
  border-radius: 0;
  box-shadow: none;
}
.form-group .tlf-login {
  float: left;
  background: #00a4ff;
  border: none;
  margin: 20px 20px 20px 50px;
}
.form-group .tlf-register {
  float: right;
  margin: 20px 36px 0 0;
  background: none;
  border: none;
  color: #00a4ff;
}
.error-message {
  margin: 15px;
  color: #ef4f4f;
}
@media (min-width: 768px) {
  .form-group {
    margin-bottom: 1em;
    overflow: hidden;
  }
}
