<!DOCTYPE html>
<html>
<head>
  <title>授权登录</title>
</head>
<body>
  <form>
    <div>您是否授权登录</div>
    <div>
      <button type="submit">授权</button>
      <button type="button">取消</button>
    </div>
  </form>
</body>
</html>
